* {
    font-family: 'Inter UI'!important;
    font-feature-settings: "calt","tnum","case","ss01"!important;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: #424242;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.nav{
    display: flex;
    height: 10vh;
    max-height: 60px;
    min-height: 50px;
    padding-left: 20px;
    box-shadow: 0px 0px 10px #424242;
    z-index: 25;
    align-items: center;
    background-color: #F5F5F5;
}

.nav div:first-child {
    width: 45%;
  }

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

#map{
    width: 100%;
    height: 100%;
    z-index: 0;
}

.map{
    background-color: grey;
    width: 35%;
    height: 100%;
    float: left;
    z-index: 0;
}

.graphes_container{
    overflow-y: scroll;
    display: flex;
    width: 65%;
    height: 100%;
    justify-content: center;
}

.graphes{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 85%;
}

.graphes > div{
    border: 1px solid darkgrey;
    background-color: #F5F5F5;
    padding: 20px 50px 50px 50px;
    width: 90%;
    border-radius: 10px;
    margin-bottom: 40px;
    z-index: 6;
}

.graphes > div div:last-child{
}

#chart-1, #chart-2, #chart-3, #chart-4 {
    height: 600px;
    z-index: 6;
}

canvas{
    z-index: 6;
}

.titre-secteur {
    display: flex;
    justify-content: space-between;
}